<?xml version="1.0"?> 
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Log4NetConfiguration>
    <LogName>Main</LogName>
    <IsEnabled>true</IsEnabled>
    <VerbosityLevel>Debug</VerbosityLevel>
    <LogLocation>C:\Logs\Testing\</LogLocation>
  </Log4NetConfiguration>
  <Log4NetConfiguration>
    <LogName>Request</LogName>
    <IsEnabled>true</IsEnabled>
    <VerbosityLevel>Debug</VerbosityLevel>
    <LogLocation>C:\Logs\Testing\</LogLocation>
  </Log4NetConfiguration>
  <Log4NetConfiguration>
    <LogName>Reply</LogName>
    <IsEnabled>true</IsEnabled>
    <VerbosityLevel>Debug</VerbosityLevel>
    <LogLocation>C:\Logs\Testing\</LogLocation>
  </Log4NetConfiguration>
  <Email>
    <LogName>DevEmail</LogName>
    <IsEnabled>true</IsEnabled>
    <VerbosityLevel>Debug</VerbosityLevel>
    <Name>dev</Name>
    <EmailTo>testing@mailinator.com</EmailTo>
    <EmailFrom>Exceptions@lawsoncs.com</EmailFrom>
    <EmailServer>mail.lawsoncs.com</EmailServer>
  </Email>
  <Database>
    <LogName>SQLSaver</LogName>
    <IsEnabled>true</IsEnabled>
    <VerbosityLevel>Debug</VerbosityLevel>
    <ConnectionString>Server=localhost\SQLEXPRESS;Intial Catalog=logging;Integrated Security=True;</ConnectionString>
    <StackCacheLimit>10</StackCacheLimit>
    <StackCacheTime>30</StackCacheTime>
    <MessageCacheTime>30</MessageCacheTime>
    <MessageCacheLimit>10</MessageCacheLimit>
    <LogCacheTime>30</LogCacheTime>
    <LogCacheLimit>10</LogCacheLimit>
  </Database>
  <System>
    <LogName>SystemSaver</LogName>
    <IsEnabled>true</IsEnabled>
    <VerbosityLevel>Debug</VerbosityLevel>
  </System>
</Configuration>